*{
padding : 0;
margin : 0;
box-sizing: border-box; 
}

.body {
    display: flex;
    flex-direction: column; 
    margin: 0;
    height: 100%vh;
}

header{
    padding: 10px 0;
}



footer{
    text-align: center;
    margin-top: auto;
    box-shadow: 0 -5 rgba(0,0, 0, 0.104);
    text-align: center;
}

